# build output
bin/
obj/

# local dev secrets
appsettings.Development.json

# env files
*.env

# OS junk
.DS_Store
Thumbs.db
/.vs/FinanceTracker
.vs/FinanceTracker/CopilotIndices/18.0.981.45449/CodeChunks.db-wal
.vs/FinanceTracker/CopilotIndices/18.0.981.45449/SemanticSymbols.db-wal
.vs/FinanceTracker/CopilotIndices/18.0.981.45449/CodeChunks.db-wal
.vs/FinanceTracker/CopilotIndices/18.0.981.45449/SemanticSymbols.db-wal
